[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
pytest = "*"

[packages]
appdirs = "*"
attrs = "*"
bleach = "*"
cairocffi = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
cssselect2 = "*"
defusedxml = "*"
dropbox = "*"
html5lib = "*"
idna = "*"
oauthlib = "*"
pathspec = "*"
pycparser = "*"
qrcode = "*"
regex = "*"
requests = "*"
requests-oauthlib = "*"
six = "*"
tinycss2 = "*"
toml = "*"
tweepy = "*"
typed-ast = "*"
urllib3 = "*"
webencodings = "*"
yattag = "*"
CairoSVG = "*"
Pillow = "*"
Pyphen = "*"
PySocks = "*"
WeasyPrint = "*"
aws-lambda-context = "*"
emoji = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
