appdirs==1.4.3
attrs==19.3.0
bleach==3.1.4
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cssselect2==0.3.0
defusedxml==0.6.0
html5lib==1.0.1
idna==2.9
oauthlib==3.1.0
pathspec==0.8.0
Pillow==7.1.2
pycparser==2.20
Pyphen==0.9.5
PySocks==1.7.1
qrcode==6.1
regex==2020.4.4
requests==2.23.0
requests-oauthlib==1.3.0
six==1.14.0
tinycss2==1.0.2
toml==0.10.0
tweepy==3.8.0
typed-ast==1.4.1
urllib3==1.25.9
WeasyPrint==51
webencodings==0.5.1
